#paper-canvas {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  overflow: visible; }

html {
  background-color: #fffdfc;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
    html {
      font-size: 1.5vmin; } }

body {
  margin: 0;
  height: 100%;
  width: 100%; }

.header {
  text-align: center;
  padding: 1em; }

.blog-link-container {
  text-align: center;
  padding: 2em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
    .blog-link-container {
      padding: 3em; } }

.blog-link {
  font-size: 2em;
  text-decoration: none;
  color: #3885F9;
  transition: opacity .125s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
    .blog-link {
      font-size: 3em; } }

.blog-link:hover {
  opacity: .75; }

.game-info {
  display: flex;
  padding: 2em 5em 0 5em; }
  .game-info p {
    line-height: 1.5em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
    .game-info {
      padding: 2em 5em 0 5em; } }

.game-description {
  color: #464B63;
  flex: 3;
  height: 7.5em;
  font-size: 4em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all .25s; }
  @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
    .game-description {
      padding-left: 1em;
      height: 17em;
      font-size: 3em; } }
  .game-description a, .game-description p {
    margin: 0;
    display: inline-block; }
  .game-description .sub-description {
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    font-size: .25em;
    top: 100%;
    left: 2.5%;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
    @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
      .game-description .sub-description {
        font-size: .7em; } }
  .game-description .main-description {
    position: relative; }
  .game-description .main-description > p:hover {
    cursor: pointer; }
  .game-description .main-description:focus {
    outline: none; }
  .game-description .main-description > p:hover ~ .sub-description {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; }

.prism-gif {
  flex: 1;
  padding-right: 4em; }

.prism-gif-image {
  border-radius: 1em;
  height: 15em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
    .prism-gif-image {
      height: 25em; } }

.above-screenshots {
  color: #464B63;
  font-size: 2.4em;
  padding: 0 2em;
  line-height: 1.5em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
    .above-screenshots {
      padding: 1em 2em;
      font-size: 3em; } }

.screenshots {
  display: flex;
  padding: 0 5em;
  justify-content: space-between; }

.prism-screenshot {
  border-radius: 1em;
  height: 10em; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.prism {
  display: inline-block;
  font-weight: 300;
  font-size: 10em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
    .prism {
      font-weight: 400; } }
  .prism .P {
    color: #FF6978; }
  .prism .R {
    color: #4CEDDE; }
  .prism .I {
    color: #94EA54; }
  .prism .S {
    color: #C85ED8; }
  .prism .M {
    color: #3885F9; }

.prism:hover {
  cursor: default; }
  .prism:hover .P {
    color: #3885F9; }
  .prism:hover .R {
    color: #FF6978; }
  .prism:hover .I {
    color: #4CEDDE; }
  .prism:hover .S {
    color: #94EA54; }
  .prism:hover .M {
    color: #C85ED8; }

.letter {
  padding-left: 5px;
  padding-right: 5px;
  transition: all .125s; }

.subtitle {
  color: #464B63;
  font-size: 1em; }
  @media only screen and (orientation: portrait), only screen and (max-width: 768px) {
    .subtitle {
      font-size: 2em; } }

.subtitle:hover {
  cursor: default; }

/*# sourceMappingURL=main.css.map */
